
h1 {
	font size: 40px;
	color: black;
	font-weight: bold;
	margin: 0;
	}
.text-song {
	text-align: center;
	margin: 30px 0;
	background-color: #0097e6;
	}
.container {
	margin: 0 30px;
	}
.text, .text-center {
	padding: 4px;
	font-size: 18px;
	}
.text-center {
	font-style: italic;
	}
h3 {
	font-style: italic;
	margin: 0;
	}
.page-footer{
	margin: 0;
	text-align: center;
	padding: 5px;
	}
.page-footer h4 {
	font-size: 20px;
	margin: 0;
	}
.page-footer p {
	font-size: 18px;
	margin: 0;
}
